
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - Offline</title>
</head>
<body>
    <div> 
        The website is under construction!
    </div>
</body>
</html>
